{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}
    <h1>homepage</h1>
    {% if is_granted('ROLE_ADMIN') %}
        (ADMIN):  {{ app.user.username }}

    {% elseif is_granted('ROLE_USER') %}
        (USER): {{ app.user.username }}
    {% else %}
        (Anonymous)
    {% endif %}
    <div>
        <a href={{ path("quitroute") }}> quit</a>
        <a href={{ path("userroute") }}> user</a>
        <a href={{ path("adminroute") }}> admin</a>
    </div>
{% endblock %}
